.banner-slider {
  position: relative;
  width: 100%;
  overflow: hidden;
  border-radius: 10px;
  transition: width 0.35s ease;
  background: #111;
}



.banner-track {
  display: flex;
  width: 100%;
}


/* ================= Arrows ================= */
.nav {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.4);
  color: white;
  border: none;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  cursor: pointer;
  font-size: 18px;
  backdrop-filter: blur(5px);
  transition: 0.3s;
}

.nav:hover {
  background: #ff0055;
}

.prev {
  left: 15px;
}

.next {
  right: 15px;
}

/* ================= Dots ================= */
.dots {
  position: absolute;
  bottom: 18px;
  width: 100%;
  text-align: center;
}

.dot {
  height: 8px;
  width: 8px;
  margin: 0 6px;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
  transition: all 0.3s ease;
}

.dot.active {
  width: 26px;
  border-radius: 10px;
  background: #ff0055;
}


.banner-track {
  display: flex;
  width: 100%;
}

.banner-slide {
  flex: 0 0 100%;
  max-width: 100%;
}

.banner-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  border-radius: 10px;
}








/* ================= Mobile ================= */
@media (max-width: 768px) {
  .nav {
    width: 35px;
    height: 35px;
    font-size: 18px;
  }

  .banner-slide img {
    border-radius: 0px;
  }

  .banner-slider {
    border-radius: 0px;
  }



}