.footer {
    background: linear-gradient(135deg, #1a0f15, #2a1118, #3a121c);
    color: #ffffff;
    padding: 40px 40px;
    animation: fadeUp 1s ease forwards;
}

.footer-container {
    max-width: 1400px;
    margin: auto;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr 1fr;
    gap: 40px;
}

.footer-col h4 {
    margin-bottom: 20px;
    font-size: 16px;
    font-weight: 600;
    color: #7c7c7c;
}

.footer-col ul {
    list-style: none;
    padding: 0;
}

.footer-col ul li {
    margin-bottom: 12px;
    cursor: pointer;
    color: #fff;
    transition: 0.3s;
}

.footer-col ul li:hover {
    color: #ff4d6d;
    transform: translateX(5px);
}

.logo {
    font-size: 30px;
    font-weight: bold;
}

.logo span {
    color: #ff4d6d;
}

.desc {
    margin: 20px 0;
    color: #cfcfcf;
    line-height: 1.3;
    font-size: 13px;
}

.contact p {
    font-size: 13px;
    color: #bbbbbb;
    margin-bottom: 8px;
}

.social {
    margin-top: 20px;
    display: flex;
    gap: 15px;
    font-size: 22px;
    cursor: pointer;
}

sup.sup-footer {
    font-size: 33px;
    margin-left: 5px;
}

.copyright {
    font-size: 12px;
    margin-top: 20px;
}

.social svg:hover {
    color: #ff4d6d;
    transform: scale(1.1);
    transition: 0.3s;
}

.payments {
    margin-top: 20px;
    display: flex;
    gap: 15px;
}

.payments img {
    height: 35px;
    background: white;
    padding: 5px 10px;
    border-radius: 6px;
}

/* Animation */
@keyframes fadeUp {
    from {
        opacity: 0;
        transform: translateY(60px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* ================= MOBILE ================= */

@media (max-width: 992px) {
    .footer-container {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 600px) {
    .footer {
        padding: 50px 20px;
    }

    .footer-container {
        grid-template-columns: 1fr;
        gap: 30px;
    }

    .footer-col {
        text-align: center;
    }
}



@media (max-width: 768px) {
    .footer {
        padding: 60px 20px 120px;
    }

    .footer-container {
        grid-template-columns: 1fr 1fr;
        /* 2 column like screenshot */
        gap: 40px 20px;
    }

    .brand {
        grid-column: span 2;
        /* brand full width */
    }

    .footer-col h4 {
        font-size: 15px;
    }

    .footer-col ul li {
        font-size: 15px;
    }
}

/* Extra Small Mobile */

@media (max-width: 480px) {
    .footer-container {
        grid-template-columns: 1fr 1fr;
    }

    .footer-col {
        text-align: left;
    }

    .social {
        margin-top: 10px;
    }
}