/* PROFILE ROW */
.ig-row {
  display: flex;
  gap: 15px;
  overflow-x: auto;
}

.ig-row::-webkit-scrollbar {
  display: none;
}

.ig-item {
  text-align: center;
  cursor: pointer;
  color: white;
  font-size: 13px;
  flex: 0 0 auto;
}

.ig-ring {
  padding: 3px;
  border-radius: 50%;
  background: linear-gradient(45deg, #ff00cc, #ff8800, #ff00cc);
  display: flex;
}

.ig-item.seen .ig-ring {
  background: #555;
}

.ig-ring img {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  object-fit: cover;
  border: 5px solid #111;
}

/* MODAL */
.ig-modal {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.97);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

/* VIEW */
.ig-view {
  width: 380px;
  height: 90vh;
  aspect-ratio: 9/16;
  position: relative;
  overflow: hidden;
  border-radius: 15px;
}

/* MEDIA */
.ig-media {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* PROGRESS */
.ig-progress {
  position: absolute;
  top: 10px;
  width: 95%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 4px;
}

.ig-bar {
  flex: 1;
  height: 3px;
  background: rgba(255, 255, 255, 0.3);
}

.ig-bar-fill {
  height: 100%;
  background: white;
  transition: width 0.1s linear;
}

/* HEADER */
.ig-top {
  position: absolute;
  top: 25px;
  left: 15px;
  display: flex;
  gap: 10px;
  align-items: center;
  color: white;
}

.ig-top img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
}

.dot {
  margin: 0 5px;
}

.time {
  opacity: 0.8;
}

/* CLOSE */
.ig-close {
  position: absolute;
  top: 20px;
  right: 15px;
  background: none;
  border: none;
  color: white;
  font-size: 20px;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  cursor: pointer;
}

.ig-user-info {
  display: flex;
  gap: 8px;
  align-items: center;
  font-size: 14px;
}

.username {
  font-weight: 600;
  color: white;
}

.time {
  color: rgba(255, 255, 255, 0.7);
  font-weight: 400;
}


@media screen and (max-width: 768px) {
  .ig-row {
    padding: 0;
    gap: 10px;
  }

  .ig-ring img {
    width: 75px;
    height: 75px;
    border: 5px solid #111;
  }

  .ig-view {
    width: 100%;
    height: 100vh;
    border-radius: 0px;
  }
}